.jadara-divider {
  width: 100%;
  height: var(--border-width);

  border: 0;

  background: var(--divider);
}


.jadara-divider--vertical {
  width: var(--border-width);
  height: auto;

  align-self: stretch;
}